@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Poppins", sans-serif;
  }

  header {
    height: 90px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  nav {
    /* width: 1200px; */
    height: 90px;
    display: flex;
    padding: 0px 120px;
  }

  .logo {
    width: 120px;
    height: 40px;padding: 25px 0px 25px 32px;
  }

  .list-menu {
    padding: 20px 20px 20px 420px;
  }

  .list-menu li {
    display: inline-block;
    height: 50px;
    
  }

  li a {
    display: block;
    padding: 13px 32px 13px 16px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #666;
  }

  .list-menu li:last-child {
    border-radius: 4px;
    width: 172px;
    height: 40px;
    background-color: #222222;
    text-align: center;
  }

  #link_menu_button {
    padding: 10px 25px 12px 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }